{% extends "base_generic.html" %}

{% block content %}
  {% if validlink %}
    <h2>Set New Password</h2>

    <form method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      <label>New Password:</label>
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}

      <br><br>

      <label>Confirm Password:</label>
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}

      <br><br>

      <button type="submit">Change Password</button>
    </form>

  {% else %}
    <h2>Invalid Link</h2>
    <p>This password reset link is invalid or expired.</p>
  {% endif %}
{% endblock %}